@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --primary-bg: #2C2C3A;
  --secondary-bg: #1E1E28;
  --primary-accent: #6C63FF;
  --text-primary: #FFFFFF;
  --text-secondary: #B0B0B0;
  --input-bg: #3A3A4A;
}

body {
  margin: 0;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--secondary-bg);
  color: var(--text-primary);
}

a {
    color: var(--primary-accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}