.common-input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 1rem;
  background-color: var(--input-bg);
  border: 1px solid transparent;
  border-radius: 8px;
  color: var(--text-primary);
  font-size: 1rem;
  box-sizing: border-box; /* Ensures padding doesn't affect width */
}

.common-input::placeholder {
  color: var(--text-secondary);
}

.common-input:focus {
  outline: none;
  border-color: var(--primary-accent);
}